.bc-avatar {

	display: inline-block;

	position: relative;

	border-radius: 100%;

}

	.bc-avatar__image {

		position: relative;

		border-radius: 100%;

		width: 100%;
		height: 100%;

	}

	.bc-avatar__circle {

		transition: fill .3s ease-in-out;

	}

bc-avatar:not(:defined) {

	display: none;

}
