.broadcast-cell {

	/* position: relative; */

	position: absolute;

	aspect-ratio: 16/9;

	box-sizing: border-box;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	transition: all .3s;

}

	.broadcast-cell_disabled {

		pointer-events: none;

	}

broadcast-cell:not(:defined) {

	display: none;

}

