.broadcast-grid {

	position: relative;

	height: 100%;
	width: 100%;

	display: block;

	box-sizing: border-box;

	padding: 0;
	
	overflow: hidden;

}

broadcast-grid:not(:defined) {

	display: none;

}

